body{
	/*background-color:  #54B59A;*/
}
input{
	text-align:center;
}
label{
    font-weight: 400;
}
#table{
    border: 1px solid #ddd;
}
#tableExpense{
    
}

.footer {
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  margin-top: 10px;
  padding: 1rem;
  background-color: black;
  text-align: center;
  color: white;
}
#calendar1{
	margin-bottom: -50px;
	margin-left: 30px;
	width: 40px;
	height: 30px;
}

.navbar-default{
	background-color: #333333;
	height: 65px;
}
.navbar-default .navbar-text{
	color: #FFF;
}
.navbar-default .navbar-brand{
	color: #1affff;
}
#tasksicon{
	color: #009933;
}
#budget{
	color: green;
	font-size: 20px;
}
.panel-default>.panel-heading{
	text-align: center;
}
#start_date,#end_date{
	color: #33bbff;
}
#dd_activityBtn{
	margin-left:80px;
}
#logout{
	color: #1affff;
}
.footer {
   background:black;
    border-top:solid 1px #666;
    bottom:0;
    height:50px;
    padding:10px;
    position:fixed;
    width:100%;
    z-index:1000;
}

#wrapper{
	margin-bottom: 10%;
}
.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span {
    color: transparent;
}

#add_activityBtn{
    width: 130px;
    margin-bottom: 10px;
}
#define_catBtn{
    width: 130px;
}
.modal-header{
	background-color: #337ab7;
	color: white;
}
.modal-content{
	border-radius: 10px;
	border-top-left-radius: 10px !important;
	border-top-right-radius: 10px !important;
}
#searchEvent{
	border-radius: 5px;
}
#folders{
	color:green;
	font-size: 2.5em;
}
.img-thumbnail{
	height: 300px;
}
#banner{
	background-image: url('/assets/images/banner2.png');
	height: 400px;
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}
#tvdiv{
	background-image: url('/assets/images/tv.png');
	background-repeat: no-repeat;
	background-position: center center;
}

video {
    width: 500px;
    height: 400px;
/*    -webkit-width: 400px;
    -webkit-height: 400px;*/
    margin: 0 auto !important; 
    display: block !important;

}

#usernameLogin,#username,#password,#firstname,#lastname,#role,#contact_number,#passwordLogin{
	width: 250px;
}
#login {

width: 400px;
}
#resgister{
	width: 500px;
}
#myModalLabel{
    text-align: center;
}
.alert-info{
    color: white;
    background-color: #66CCEA;
    border-color: #bce8f1;
}
#inputsOrg{
	border-radius: 5px;
	width: 200px;
}
#orgContent{
	width: 400px;
	margin: 0 auto !important;
}